#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    padding-bottom: 50%;
    width: 100%;
    background: rgba(196, 196, 196, 0.4)
}

.photograph-header {
    position: relative;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 40px;
    border-radius: 5px;
}

.photograph-header h1 {
    font-size: 64px;
    font-weight: normal;
    padding: 25px 50px;
    color: #D3573C;
}

.photograph-header data, p {
    position: relative;
    top: -60px;
    left: 50px;
}

.photograph-header data {
    font-size: 24px;
    color: #901C1C;
}

.photograph-header p {
    font-size: 18px;
    color: #525252;
    max-width: 400px;
}

.photograph-header .contact_button {
    position: absolute;
    left: 43%;
    top: 40%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    overflow: scroll;
    max-width: 670px;
    max-height: 80vh;
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    width: 100%;
    margin-bottom: 50px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    line-height: 1.1;
}

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal form label {
    color: #312E2E;
    font-size: 36px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.modal form textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
    border: none;
    border-radius: 5px;
}

.photograph-footer {
    position: sticky;
    bottom: 0;
    width: 375px;
    background: #DB8876;
    left: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}